*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(185, 75%, 39%); 
    height: 100px;
    width: 100%;
  align-items: center;
  /* flex-direction: column; */
    justify-content: center;
    display: flex;

}

.container{
    height:70px;
    margin-top: 200px;
}

.image{
    height: 14px;
    
}

.image img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.flex{
    display: flex;
    
}
.text{
    
        background-color: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
}
    

.image{
    height: 14px;}

    
.image, .text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    
}
.image1 img{
    
        border-radius: 50%;
        border: 6px solid #fff;
       
        
    }

    .text{
        margin-top: 15px;
        margin-bottom: 30px;
        
    }

    .text p{
    margin-bottom: 7px;
    font-size: 18px;
}
.text p,.flex p{
    color:  hsl(229, 23%, 23%);
    font-weight: 700;
}
.image img{
    margin-top: 20px;
}

.flex{
    padding-left: 40px;
    font-size: 20px;
    background-color: #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 33px;
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.group{
    width: 100%;
    height: 270px;
    margin-top: 20px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.image1, .text{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.image1 img{ border-radius: 50%;
    border: 6px solid #fff

}
.text {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.text p{
    margin-bottom: 7px;
    font-size: 18px;
   color:  hsl(229, 23%, 23%);
    /* font-weight: 700; */
}
.flex{
    color:  hsl(229, 23%, 23%);
    font-weight: 800;
    font-weight: 300;
    color: hsl(227, 10%, 46%);
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 60px;
    font-size: 13px;
    margin-left: 5px;
}
.figure{
    color: hsl(227, 10%, 46%);
    font-weight: 300;
}


    

.two span{
    margin-left: 7px;
}

.two p{padding-left: 37px;

}

.text span{
    
        margin-left: 3px;
}


.london,hr{
    font-weight: 300;
    color: hsl(227, 10%, 46%);
    font-size: 15px;
    
}
.flex p{
    font-size: 18px;
    
}

hr{
    font-size: 15px;
    margin-bottom: 20px;
    }

    .follow p{
        margin-left: 10px;
        font-size: 13px;
    }
    

.text, .photo{
    
    font-weight: 300;
    color: hsl(227, 10%, 46%);
    margin-left: 15px;
    font-size: 13px;
    }

.photo{
    padding-left: 50px;
}

.three{
    padding-left: 65px;
}

.text,.follow{
    
    font-weight: 300;
    color: hsl(227, 10%, 46%);
    margin-left: 3px;
    font-size: 13px;
    }

 .text,.like{
    
    font-weight: 300;
    color: hsl(227, 10%, 46%);
    margin-left: 3px;
    font-size: 13px;
}

.like{
    padding-left: 35px;
}

.follow{
    padding-right: 10px;
}

.one{
    padding-left: 8px;
}
@media screen and (max-width:700px) {

    

    body{width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;

    }
    
} 
